<div class="main-content">
        <h2>APP {{pid}} - PROCESSOR: {{processor}}</h2>

    <div class="row">
      <div class="col">
        <div class="card ">
          <div class="card-header text-center">
            <h4 class="card-title">Self Awareness Configuration</h4>
          </div>
          <div class="card-body" >
            <div class="row">
              <div class="col">
                <h6>Memory</h6>
                <div id="sliderDouble" class="slider slider-success"></div>
                <br>
                <h6>CPU</h6>
                <div id="sliderDouble1" class="slider slider-warning"></div>
                <br>
                <h6>Power</h6>
                <div id="sliderDouble2" class="slider slider-danger"></div>
                <br>
              </div>
              </div>
            </div>
            <div class="card-footer ">
              <!--<button (click)="setParameters()" type="submit" class="btn btn-success btn-round col-md-3" style="float: right">Apply Self Awareness</button>-->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ">
            <div class="card-header text-center">
              <h4 class="card-title">Self Awareness Priority</h4>
            </div>
            <div class="card-body" >
              <div class="row">
                <div class="col">
                  <h6>Memory</h6>
                  <div id="sliderSingle" class="slider slider-success"></div>
                  <br>
                  <h6>CPU</h6>
                  <div id="sliderSingle1" class="slider slider-warning"></div>
                  <br>
                  <h6>Power</h6>
                  <div id="sliderSingle2" class="slider slider-danger"></div>
                  <br>
                </div>
                </div>
              </div>
              <div class="card-footer ">
                <!--<button (click)="getValues()" type="submit" class="btn btn-success btn-round col-md-3" style="float: right">Apply Self Awareness</button>-->
              </div>
            </div>
          </div>
      </div>
      <div class="row" >
        <button (click)="setParameters()" type="submit" class="btn btn-success btn-round col-md-3" style="width:800px; margin:0 auto;">Apply Self Awareness</button>
      </div>
      <br>
      <br>
      <br>
      
    <div class="row">
      <div class="col">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-chart-pie-36 text-success"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Memory</p>
                  <p class="card-title">{{mem}} MB
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-spaceship text-warning"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">CPU</p>
                  <p class="card-title">{{cpu}} %
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-button-power text-danger"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Power</p>
                  <p class="card-title">{{power}} %
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header text-center">
            <h4 class="card-title">APP Data</h4>
          </div>
          <div class="card-body" >
            <div class="row">
              <div class="col-md-12">
                 <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 1000">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-0">
                        <thead class="text-center">
                          <th>
                            Memory Bytes
                          </th>
                          <th>
                            Memory %
                          </th>
                          <th>
                            CPU %
                          </th>
                          <th>
                                Power %
                              </th>
                              <th>
                                     Timestamp
                                  </th>
                        </thead>
                        <tbody *ngFor="let data of generalArr">
                          <tr>
                            <td>{{data.memBytes}}</td>
                            <td>{{data.memPercen}}</td>
                            <td>{{data.cpuPercen}}</td>
                            <td>{{data.powerPercen}}</td>
                            <td>{{data.timestamp}}</td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
                </div> 
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
            <div class="col-md-12">
              <div class="card ">
                <div class="card-header text-center">
                  <h4 class="card-title">Memory Graph</h4>
                </div>
                <div class="card-body" >
                  <div class="row">
                    <div class="col"> 
                            <canvas id="chartStock"></canvas>
                    </div>
                    </div>
                  </div>
                  <div class="card-footer ">
                        <div class="legend">
                          <i class="fa fa-circle text-danger"></i> Memory Bytes
                        </div>
                        <div class="legend">
                                <i class="fa fa-circle text-warning"></i> Memory %
                              </div>
                        <hr>
                      </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="card ">
                  <div class="card-header text-center">
                    <h4 class="card-title">Memory Graph</h4>
                  </div>
                  <div class="card-body" >
                    <div class="row">
                      <div class="col"> 
                              <canvas id="chartStock3"></canvas>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row">
                    <div class="col-md-12">
                      <div class="card ">
                        <div class="card-header text-center">
                          <h4 class="card-title">CPU Graph</h4>
                        </div>
                        <div class="card-body" >
                          <div class="row">
                            <div class="col">
                                    <canvas id="chartStock1"></canvas>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                              <div class="card ">
                                <div class="card-header text-center">
                                  <h4 class="card-title">Power Graph</h4>
                                </div>
                                <div class="card-body" >
                                  <div class="row">
                                    <div class="col">
                                            <canvas id="chartStock2"></canvas>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
    </div>
  